<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erman.moviegallery">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_movie_gallery"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_movie_gallery_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieGallery">

        <!-- Main Activity -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Detil Movie Activity -->
        <activity android:name=".ui.movie.DetailMovieActivity" />

        <!-- Detil TV Show Activity -->
        <activity android:name=".ui.tvshow.DetailTvshowActivity" />

        <!-- Splash Screen Activity -->
        <activity
            android:name=".ui.home.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>